@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 500px){
  #bigNavbar{
    display:none;
  }
  #dogName{
    font-size: x-large;
  }
  #favoriteBreed{
   
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  #homePage{
    padding:0;
  }
  #searchBreed{
  padding-left: 0;
  padding-right: 0;
  }
  #searchGrid{
   display:contents;
  
    
  }
  #card2{
    padding: 1rem;

  }
  #card3{
    padding:1rem;
  }
 
  #searchForm{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #favorites{
    padding-left: 0;
    padding-right: 0;
  }

}
 @media only screen and (min-width: 501px) and (max-width:850px){
  
  #bigNavbar{
    display:none;
  }
  #favoriteBreed{
   
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  #homePage{
    padding:0;
  }
  #searchBreed{
  padding-left: 0;
  padding-right: 0;
  }
  #searchGrid{
    display:contents
  
  }
  #favorites{
    padding-left: 0;
    padding-right: 0;
  }
  #card2{
    padding: 1rem;

  }
  #card3{
    padding:1rem;
  }
} 
@media only screen and (min-width:850px){
  #mobile{
    display:none
  }

}

